* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}
.app__right {
  height: 100%;
}
.App {
  display: grid;
  grid-template-columns: [first] 70% [second] 30%;
  justify-content: center;
  padding: 3%;
  gap: 2%;
}
.app__header > h1 {
  margin-bottom: 30px;
}
.infoBox_cases {
  color: #cc1034;
}
.infoBox {
  cursor: pointer;
}
.isGreen {
  color: greenyellow;
}
.--selected {
  border-top: 10px solid rgb(230, 230, 230);
}

@media (max-width: 990px) {
  .App {
    grid-template-columns: repeat(1, 1fr);
  }
}
